@viewport{
  zoom: 1.0;
  width: device-width;
}

html, body {
  font-family: "Opens Sans";
  font-size: 18px;
  margin: none;
  padding: none;
  border: none;
}

.divBlack {
  background-color: black;
}

.divGray {
  background-color: #282828;
}

#divSessaoVideo h1 {
  font-weight: 800;
  font-size: 32px;
  color: #C0A63C;
  text-align: center;
}

#divSessaoVideo p {
  color: white;
  text-align: center;
}

.botao {
  text-align: center;
}

.btn-warning {
  background-color: #C0A63C;
  color: black;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  border: 2px solid #cd8838;
  border-radius: 26px;
  font-size: 18px;

}

#divSessaoContagemRegressiva h2 {

  font-weight: 800;
  font-size: 32px;
  color: #C0A63C;
  text-align: center;
}

#divSessaoParaQuem h2 {
  font-weight: 800;
  font-size: 32px;
  color: #C0A63C;
  text-align: center;
}

#divSessaoParaQuem ul {
  color: white;
  font-size: 18px;
  margin: 0;

}

#divSessaoQuemE h2 {
  font-weight: 800;
  font-size: 32px;
  color: #C0A63C;
  text-align: center;
}

.ul {
  color: white;
  font-size: 18px;
  margin: 0;
}

.img {
  width: 350px;
  height: 350px;
  object-fit: none;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#divSessaoOqueE {
  color: white;
  font-size: 18px;

}

#divSessaoOqueE h2 {
  font-weight: 800;
  font-size: 32px;
  color: #C0A63C;
  text-align: center;
}

#imgAprender {  
  object-fit: none;
  display: block;
  margin-left: auto;
  margin-right: auto
}


#divSessaoBonus h2 {
  font-weight: 800;
  font-size: 32px;
  color: #C0A63C;
  text-align: center;
}

#divSessaoBonus ul {
  color: white;
  font-size: 18px;
  margin: 0;
}

#divSessaoNaoPodePerder h2 {
  font-weight: 800;
  font-size: 32px;
  color: #C0A63C;
  text-align: center;
}

#divSessaoNaoPodePerder p {
  color: white;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

#divSessaoDepoimentos h2 {
  font-weight: 800;
  font-size: 32px;
  color: #C0A63C;
  text-align: center;
}

#divSessaoDepoimentos p {
  color: white;
  font-size: 18px;
  margin: 0;
  text-align: justify;
}

#divSessaoGarantia h2 {
  font-weight: 800;
  font-size: 32px;
  color: #C0A63C;
  text-align: center;
}

#divSessaoGarantia p {
  color: white;
  font-size: 18px;
  margin: 0;
  text-align: center;
}


.img7 {

  width: 300px;
  height: 300px;
  object-fit: none;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.padding55{
  padding-bottom: 55px;
}

.padding35{
  padding-bottom: 35px;
}

/*.copy{
  color: grey;
  font-size: 18px;
  background-color: black;
  margin: 0px;
  padding: 0px;
}*/